/**
 * @name SleekVision
 * @version 0.0.1
 * @source https://github.com/mynamiskarter/betterdiscord-theme
 * @author Mynameiskarter
 * @description This is called SleekVision. If you have any questions or concerns, join this discord server... https://discord.gg/cEpPd3Zjf8
 */

/*
CHANGELOG:
V.0.1 Created, still some bugs but that will be fixed in later updates!
 added the borders to make it look more appealing, fixed some bugs!
 Changed the colors up a bit, and moved the profile thing to the top right!
*/

/*
Credits:
(contributor) DemetriusH#7942 - helped with a little bugs (alignment, color's, layers)
Frix#7777 - helped with a little bugs (alignment)



*/

@import url('https://mynamiskarter.github.io/betterdiscord-theme/SleekVision.css');

:root {

    --avatar-radius: 10px;
    --settingsiconssize: 18px;
    --settingsiconsgap: 14px;
  
    

    
 
    --SleekVision-primary: #001127;
    --SleekVision-secondary: #2b2c2c;
    --SleekVision-secondary-alt:#4d4646;
    --SleekVision-tertiary: #001127;;
    --SleekVision-accent-color : #ffffff;
    --SleekVision-input-box: #272526;
    --SleekVision-mention:  rgba(255, 255, 255, 0);
    --SleekVision-hot-pink: #F40174;
    --SleekVision-svg: #F40174;
    --SleekVision-kinda-gross: #af4474;
  
    display: unset;
    --SleekVision-scrollbar-track: var(--SleekVision-primary);
    --SleekVision-scrollbar-thumb: var(--SleekVision-hot-pink);
    
    
    
}


